**/bin
**/obj
**/.deps
**/autom4te.cache
**/*.o
**/.dirstamp

aclocal.m4
configure
Makefile.in
config.log
config.status
compile
depcomp
install-sh
missing

feedback.txt
git-token.txt
c4chess-cb.layout
Makefile
